/* CB4B2E */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

#branding {
  height: 100%;
  background-image: url(assets/citystreet-by-pexels.jpeg);
  background-position: center;
  background-size: cover;

  display: flex;
  flex: 1;
  align-items: baseline;
  flex-direction: row;
  flex-wrap: wrap;

  padding-top: 15rem;
}

#brand-banner {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  padding: 3px 0;
}

#logo {
  width: min(60%, 9.5rem);
}

h1 {
  color: white;
  font-size: 6.5rem;
  font-family: 'Playfair Display', serif;
}

#content {
  flex: 2;
  margin: 7rem 0;
}

#about > button, p, form button{
  margin: 0 20% 0 min(5%, 3rem);
}

fieldset {
  padding: 0 20% 0 min(5%, 3rem);
}

#branding-footer {
  width: 100%;
  color: white;
  margin-top: auto;
  margin-bottom: 10px;
  text-align: center;
  font-size: 11px;
}

#branding-footer a{
  color: white;
}